/* Archivo .Css (Estilos del Componente Wsp) */


/*Modificación estilos Boton */
.btn-wsp{
    position: fixed;
    bottom: 40px;
    right: 90px;
    border-radius: 50%;
}

/*Modificación estilos Icono visual */
.icono-wsp{
    width: 55px;
}

/*Modificación estilos Boton (Efecto Moverse) */
.icono-wsp:hover{
    width: 65px;
}